* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: red;
    overflow: hidden;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* ::-webkit-scrollbar {
    width: 0px;
} */